main {
  margin: 5rem auto 4rem;
}

.charactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.charactersList {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
